{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse du réseau hydrographique Kinonge</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div id="header">
        Analyse de réseau hydrographique
    </div>

    <div id="content">
        <div id="left-panel">
            <div class="query-type" data-type="interrogation">Interrogation</div>
            <ul id="interrogation-list" style="display: none;"></ul>

            <div class="query-type" data-type="validation">Validation</div>
            <ul id="validation-list" style="display: none;"></ul>

            <div class="query-type" data-type="statistique">Calcul Statistique</div>
            <ul id="statistique-list" style="display: none;"></ul>
        </div>

        <div id="map"></div>

        <div id="right-panel">
            <h3>Informations du cours d'eau</h3>
            <div id="thalweg-selector" style="margin-bottom: 15px;">
                <input type="number" id="thalweg-id-input" placeholder="Entrez l'ID du cours d'eau">
                <button id="select-thalweg-button">Sélectionner</button>
            </div>
            <div id="selected-thalweg-info"></div>
        
            <h3>Cours d'eau en amont/aval</h3>
            <div id="upstream-thalwegs-info"></div>
        </div>
    </div>

    <div id="customizationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="customizationOptions"></div>
            <button id="executeCustomQuery">Exécuter</button>
        </div>
    </div>

    {% csrf_token %}
    <script src="{% static 'js/map_script.js' %}"></script>

    <div id="loading-overlay" style="display: none;">
        <img src="{% static 'image/loading.gif' %}" alt="Loading..." class="loader">
        <p>Chargement des données...</p>
    </div>
</body>
</html>